{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3 pb-2">Are you sure you want to delete {{active_project.title}}?</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pb-2">
                <button class="btn btn-danger shadow-sm border rounded" type="submit">DELETE</button>
                <button class="btn btn-light shadow-sm border rounded" type="button" onClick="window.location.href='{% url "boards:index" %}';">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}