{% extends "base.html" %}
{% block title %}
    {{project.title}}
{% endblock %}
{% block content %}
    <ul>
        <li>{{active_feature.title}}</li>
        <li>{{active_feature.description}}</li>
        <li>{{active_feature.status}}</li>
        <li>{{active_feature.created_date}}</li>
        <li>{{active_feature.modified_date}}</li>
    </ul>
    {% if active_feature.items.all %}
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in active_feature.items.all %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td><a href="{% url 'boards:detail_item' active_project.id active_feature.id item.id %}">{{item}}</a></td>
                        <td>{{item.item_type}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No items under feature.
    {% endif %}
{% endblock %}